@use "../../styles/index.scss" as *;

.wellcomeContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    opacity: 0;
    animation: fadeInPage 1.2s ease-in-out forwards;
    animation-delay: 0.2s; 
    &.fadeOut {
        opacity: 0 !important;
        transition: opacity 0.8s ease-in-out;
    }

    h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        gap: 1rem;  
        @include font-style(3.5rem, "Regular");
        text-align: center;
        
        .word {
            display: inline-block;
            opacity: 0;
            transform: translateY(-50px);
            animation: dropIn 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
            animation-delay: calc(0.5s + (var(--i) * 0.1s));
        }

        .highlight {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem; 
            opacity: 0;
            transform: translateY(-50px);
            animation: dropIn 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
            animation-delay: calc(0.5s + (var(--i) * 0.1s));

            .boldWord {
                @include font-style(3.5rem, "Bold");
                color: $color-primary;
            }
        }

        svg {
            width: 3rem;
            height: 3rem;
            filter: drop-shadow(0 0 5px rgba($color-secondary, 0.3));
        }
    }
}
@keyframes fadeInPage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dropIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}