@use '../../../styles/index.scss' as *;

.input{
    display: flex;
    flex-direction: column;
    label{
        @include font-style(.8rem, "Regular");
        margin-bottom:-0.8rem;
        background-color: $color-bg;
        width: fit-content;
        padding: 0.2rem;
        position: relative;
        margin-left: 0.4rem;
    }
    width: 100%;
    input{
        width: 100%;
        padding: 0.8rem;
        border: $border-line;
        background-color: transparent;
        outline: none;
        stroke: none;
        @include font-style(1rem, "Regular");
        line-height: 90%;
        border-radius: $radius;
    }
}