@use "../../styles/index.scss" as *;

.not-authed-container{
    max-width: 1400px;
    min-width: 500px;
    margin: auto;
    @include md{
        max-width: 800px;
        min-width: 200px;
    }
}
.container{
    margin: 1.5rem 1.5rem;
  @include md{
    margin: 1 1rem;
  }
  @include sm{
    margin: 0.5rem;
  }
}