/*
#########################
    SCSS VARIABLES
#########################
*/
// Colors
$color-primary: var(--color-primary);
$color-primary-hover: var(--color-primary-hover);
$color-secondary: var(--color-secondary);
$color-secondary-hover: var(--color-secondary-hover);
$color-tertiary: var(--color-tertiary);
$color-bg:var(--color-bg);
$color-block:var(--color-block);
$color-card:var(--color-card);
$color-bg-alt: #f9fafb;
$color-card:var(--color-card);
$color-column:var(--color-column);
$color-border: var(--color-border);
$color-text: var(--color-text);
$color-text-muted: #6b7280;
$color-status: var(--color-status);
$color-gradient-block: var(--color-gradient-block);
// Typography

$font-family-base: "Inter", sans-serif;

// Spacing conform Baseline
$padding-space: 16px;
$margin-space: 24px; 

// Shapes (Soft shape language)
$border-radius: 0.25rem;
$radius: 0.25rem;
$space:1rem;
$font-size: 1rem;
$border-line: 1.5px solid $color-border;
$border-dashed: 1px 10px dashed $color-border;

// Window Break Points
$breakpoints: (
    "xs" : 480px,
    "sm" : 768px,
    "md" : 1024px,
    "lg" : 1400px,
    "xl" : 1920px,
);  

$icon-primary-color:#D6CAF7;
$icon-secundary-color:#AD96EE;
$icon-dark-color:#8461E5;
// Font Weight 
$font-weight-map: (
    "ExtraLight" : 200,
    "Light" : 300,
    "Regular" : 400,
    "Medium" : 500,
    "SemiBold" : 600,
    "Bold": 700,
    "ExtraBold": 800,
    "Black" : 900,
    "Weight" : 1000,
);
